    .formBuilderAdministration .createForm:hover {
        cursor: pointer;
    }

    .formBuilderAdministration select.form-control {
        height: 34px !important;
    }

    .formBuilderAdministration ul {
        list-style: none;
        padding: 0;
    }

    .formBuilderAdministration #questionSets ul {
        padding: 0;
        list-style: none;
    }

    .formBuilderAdministration #questionSets ul li {
        display: inline-block;
        border: 1px solid grey;
        height: 190px;
        width: 170px;
        margin-right: 20px;
        position: relative;
        text-align: center;
    }

    .formBuilderAdministration #questionSets ul li a.loadExistingForm {
        padding: 10px;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #ffa500;
        color: #fff;
        position: relative;
        display: inline-block;
    }

    .formBuilderAdministration .questionContainer {
        padding-top: 15px;
        background: antiquewhite;
        margin: 15px 0;
    }

    .formBuilderAdministration .box {
        -webkit-box-shadow: 0 2px 1px #777;
        -moz-box-shadow: 0 2px 1px #777;
        box-shadow: 0 2px 1px #777;
        border-radius: 3px;
        background-color: lightgrey;
    }

    .formBuilderAdministration #formTitle {
        width: 100%;
        border: 0;
        padding: 10px;
        font-size: 30px;
    }

    .formBuilderAdministration .hover:hover {
        cursor: pointer;
    }

    .formBuilderAdministration .ordering {
        font-size: 22px;
        margin-right: 10px;
    }


    .formBuilderAdministration a.form_delete {
        background-color: pink !important;
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        width: auto;
    }

    .formBuilderAdministration .extraSpacingBottom {
        height: 60px;
    }

    .formBuilderAdministration a.remove {
        font-size: 10px;
        display: none;
    }

    .formBuilderAdministration .optionContainer {
        padding: 10px 10px 25px 10px;
        background: floralwhite;
    }

    .formBuilderAdministration .optionContainer input {
        margin-bottom: 10px;
        width: 70%;
        float: left;
    }

    .formBuilderAdministration .optionRemove {
        display: inline-block;
        float: right;
        font-size: 23px;
    }

    .formBuilderAdministration .addOption {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    .formBuilderAdministration .modal-header {
        height: 120px;
    }
    /*ADMIN SIDE */

    #reportsModal .modal-header {
        height: auto;
    }