    .createForm:hover {
        cursor: pointer;
    }

    select.form-control {
        height: 34px !important;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    #questionSets ul {
        padding: 0;
        list-style: none;
    }

    #questionSets ul li {
        display: inline-block;
        border: 1px solid grey;
        height: 150px;
        width: 170px;
        margin-right: 20px;
        position: relative;
        text-align: center;
    }

    #questionSets ul li a.loadExistingForm {
        padding: 10px;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #ffa500;
        color: #fff;
    }

    .questionContainer {
        padding-top: 15px;
        background: antiquewhite;
        margin: 15px 0;
    }

    .box {
        -webkit-box-shadow: 0 2px 1px #777;
        -moz-box-shadow: 0 2px 1px #777;
        box-shadow: 0 2px 1px #777;
        border-radius: 3px;
        background-color: lightgrey;
    }

    #formTitle {
        width: 100%;
        border: 0;
        padding: 10px;
        font-size: 30px;
    }

    .hover:hover {
        cursor: pointer;
    }

    .ordering {
        font-size: 22px;
        margin-right: 10px;
    }


    a.form_delete {
        background-color: pink !important;
        position: absolute;
        left: 0;
        top: 0;
        height: auto;
        width: auto;
    }

    .extraSpacingBottom {
        height: 60px;
    }

    a.remove {
        font-size: 10px;
        display: none;
    }

    .optionContainer {
        padding: 10px 10px 25px 10px;
        background: floralwhite;
    }

    .optionContainer input {
        margin-bottom: 10px;
        width: 70%;
        float: left;
    }

    .optionRemove {
        display: inline-block;
        float: right;
        font-size: 23px;
    }

    .addOption {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    .modal-header {
        height: 120px;
    }